<div
  class="checklist-toggle"
  [class.checklist-toggle--checked]="checked"
  [class.checklist-toggle--disabled]="disabled"
>
  <!-- Real checkbox for a11y -->
  <input
    type="checkbox"
    class="checklist-toggle__input"
    [id]="checkboxId"
    [checked]="checked"
    [disabled]="disabled"
    (change)="onInputChange($event)"
    [attr.aria-describedby]="ariaDescribedBy"
  />

  <!-- Mini diamond icon - make it clickable -->
  <label class="checklist-toggle__icon" [attr.for]="checkboxId" [attr.aria-hidden]="true">
    <span class="checklist-toggle__diamond">
      <span class="checklist-toggle__diamond-core"></span>
    </span>
  </label>

  <!-- Projected text - also clickable -->
  <label class="checklist-toggle__content" [attr.for]="checkboxId">
    <ng-content></ng-content>
  </label>
</div>
