@use 'tokens/colors' as *;
@use 'tokens/gradients' as *;

.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background: var(--gradient-radial-base);

  background-size:
    auto,
    512px 512px;
  background-blend-mode: normal, soft-light;
  background-attachment: fixed;
  color: var(--color-text-primary);
}

.app-main {
  flex: 1;
  padding: 1.5rem var(--spacing-outer-x) 2rem;
}
