@use 'tokens/radius' as *;

.map-container {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  border-radius: $radius-card;
  overflow: hidden;
}

.map-container iframe {
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
